POSTGRES_PASSWORD=0IS+N67ry39dnki+gevkuS7DNcThR18l
OAUTH_CALLBACK_URL={{ jh_authenticator.oauth.callback_url }}
OAUTH_CLIENT_ID={{ jh_authenticator.oauth.client_id }}
OAUTH_CLIENT_SECRET={{ jh_authenticator.oauth.client_secret }}
